/* 
.header {
    padding-top: 0px;
    margin: 0px;
    position: absolute;
    top: 0;
    display: block;
    background-color: green;
    width: 50%;
    height: 100%;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.head {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: red;
}

.info {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    width: 70%;
    height: fit-content;
    background-color: blue;
    color: #000;
}

.img {
    position: relative;
    display: block;
    padding: 0;
    width: 30%;
    height: fit-content;
    background-color: blue;
}

.nav{
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    color: #000;
    background-color:yellow;
    position: relative;
} */




/* .header { */
/* position: relative; */
/* position: absolute; */
/* padding: 0; */
/* margin: 0; */
/* top: 50%; */
/* background-color: aqua; */
/* display: flex; */
/* width: 50%; */
/* height: 120%; */
/* flex-direction: row; */
/* z-index: -1; */
/* justify-content: center; */
/* align-items: center; */
/* transform: translateY(50%); */
/* transform: translateX(50%); */
/* } */

/* 
.head {
    top: 50%;
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: red;
}

.info {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    width: 70%;
    height: fit-content;
    background-color: blue;
    color: #000;
} */


.footer {
    background-color: wheat;
    position: relative;
    /* position: absolute; */
}

.contact {
    background-color: red;
    position: relative;
    /* position: absolute; */
}

.projects {
    background-color: blue;
    position: relative;
    /* position: absolute; */
}

.nav {
    background-color: yellow;
    position: relative;
    display: flex;
    font-size: 2rem;
    justify-content: start;
    align-self: center;
    width: calc(100% - 15rem);
    padding-left: 15rem;
}

.header {
    font-size: 2rem;
    position: relative;
    display: flex;
    padding-top: 12rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.about {
    display: flex;
    font-size: 1.4rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: aquamarine;
    position: relative;
    /* position: absolute; */
}

.name {
    top: 50%;
    position: relative;
    display: block;
    flex-direction: column;
    font-size: 2rem;
    margin: 0;
    width: 50%;
    padding: 0;
    /* background-color: red; */
}

.img {
    position: relative;
    display: block;
    padding: 0;
    /* width: 40%; */
    margin-left: 13rem;
    height: fit-content;
    /* background-color: blue; */
}