body {
    background-color: #b2b2b2;
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar {
    /* display: none; */
}

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Satisfy&display=swap');