body {
    background-position: top;
    background-repeat: repeat;
    background-size: contain;
    margin: 0;
    /* overflow: hidden; */
}

.whole {
    position: absolute;
    /* background-image: url(../src/assets/Maskgroup.png); */
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: -1;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
